*******************************************************************************
    THIS IS A FRICKELDAVE SYSTEM
    It is a CRIMINAL OFFENCE to attempt to gain access to
    systems to which you do not have permission.
    FULL LEGAL AND UNLIMITED CIVIL ACTION WILL BE TAKEN
    AGAINST ANY AND ALL UNAUTHORIZED PERSON(S)
    All activity on these systems and network are logged
*******************************************************************************