*******************************************************************************
This is a system managed by ansible. Before changing anything manually, 
please get in contact with the administrator of this system.
System contact:          David Koenig
Contact mail:            dave@frickeldave.de
*******************************************************************************
    THIS IS A FRICKELDAVE SYSTEM
    It is a CRIMINAL OFFENCE to attempt to gain access to
    systems to which you do not have permission.
    FULL LEGAL AND UNLIMITED CIVIL ACTION WILL BE TAKEN
    AGAINST ANY AND ALL UNAUTHORIZED PERSON(S)
    All activity on these systems and network are logged
*******************************************************************************
Last run of ansible:     {{ansible_date_time.iso8601}}
System vendor:           {{ansible_system_vendor}}
CPU architecture:        {{ansible_architecture}}
CPU cores:               {{ansible_processor_cores}}
BIOS date:               {{ansible_bios_date}}
BIOS version:            {{ansible_bios_version}}
Distribution:            {{ansible_distribution}}
Distribution version:    {{ansible_distribution_version}}
Kernel version:          {{ansible_kernel}}
RAM:                     {{ansible_memtotal_mb}}
Free RAM:                {{ansible_memfree_mb}}
Python version:          {{ansible_python_version}}
